<div class='row'>
  <div class='col s12 m10 offset-m1 l8 offset-l2'>
    <div class='card'>
      <div class='card-image'>
        <img src='/images/ITGAMlo.png' alt='itgam image' />
        <span class='card-title' style="color: black;">
          Añadir usuario
        </span>
      </div>
      <form autocomplete='off' action='/admin/add' method='POST'>
        <div class='card-content'>
          <div class='input-field'>
            <label for='admin-name'>
              Nombre
            </label>
            <input
              placeholder='Ingrese el nombre usuario'
              type='text'
              id='admin-name'
              name='name'
              class='validate'
              value='{{project.name}}'
              required
            />
            <span
              class='helper-text'
              data-error='Debe ingresar nombre del usuario'
              data-success='Correcto'
            ></span>
            {{#if errorModel.nameError}}
              <span style='color: red;'>Error: {{errorModel.nameError}}</span>
            {{/if}}
          </div>

          <div class='input-field'>
            <label for='admin-control'>
              Numero de Control
            </label>
            <input
              placeholder='Ingrese el numero de control'
              type='text'
              id='admin-control'
              name='control'
              class='validate'
              value='{{project.control}}'
              required
            />
            <span
              class='helper-text'
              data-error='Debe ingresar numero de control'
              data-success='Correcto'
            ></span>
            {{#if errorModel.controlError}}
              <span style='color: red;'>Error:
                {{errorModel.controlError}}</span>
            {{/if}}
          </div>

          <div class='input-field'>
            <label for='admin-marbete'>
              Numero de Marbete
            </label>
            <input
              placeholder='Ingrese el numero de Marbete'
              type='text'
              id='admin-marbete'
              name='marbete'
              class='validate'
              value='{{project.marbete}}'
              required
            />
            <span
              class='helper-text'
              data-error='Debe ingresar numero de marbete'
              data-success='Correcto'
            ></span>
            {{#if errorModel.marbeteError}}
              <span style='color: red;'>Error:
                {{errorModel.marbeteError}}</span>
            {{/if}}
          </div>

          <div class='input-field'>
            <label for='admin-rol'>
              Rol
            </label>
            <input
              placeholder='Ingrese el rol'
              type='text'
              id='admin-rol'
              name='rol'
              class='validate'
              value='{{project.rol}}'
              required
            />
            <span
              class='helper-text'
              data-error='Debe ingresar el rol del usuario'
              data-success='Correcto'
            ></span>
            {{#if errorModel.rolError}}
              <span style='color: red;'>Error:
                {{errorModel.rolError}}</span>
            {{/if}}
          </div>
        </div>

        <div class='card-action'>
          <button
            type='submit'
            class='blue darken-3 waves-effect waves-light btn'
          >
            <i class='material-icons left'>
              save
            </i>
            Registrar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>